body {
  position: relative;
  background: #fcf9ee;
  height: 3000px;

  overflow-y: hidden;
}
header {
  font-size: 0.97rem;
}

.imgEsconde {
  position: fixed;
  top: 40px;
  left: calc(50% - 70px);
  width: 70px;
  height: 22px;
}
.headerLogo {
  position: fixed;
  top: 50px;
  left: 50px;
}
.headerCart {
  position: fixed;
  top: 30px;
  right: 80px;
}

.headerMenu {
  position: fixed;
  bottom: 10px;
  left: 50px;
}
